<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <servlet>
		<servlet-name>Trans</servlet-name>
		<servlet-class>servlet.AddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Trans</servlet-name>

		<url-pattern>/add</url-pattern>		
	</servlet-mapping>
  


	<servlet>
		<servlet-name>state</servlet-name>
		<servlet-class>servlet.StateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>state</servlet-name>

		<url-pattern>/stateTransaction</url-pattern>		
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>TypeServlet</servlet-name>
		<servlet-class>servlet.TypeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TypeServlet</servlet-name>

		<url-pattern>/transactionType</url-pattern>		
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>ZipServlet</servlet-name>
		<servlet-class>servlet.ZipServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ZipServlet</servlet-name>

		<url-pattern>/zipCodeTransaction</url-pattern>		
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	
	  <!--
	transactionType
	<servlet>
    <servlet-name>GetComboServlet</servlet-name>
    <servlet-class>servlet.GetComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComboServlet</servlet-name>
    <url-pattern>/comboData</url-pattern>
  </servlet-mapping>
  -->
	
	
	
	 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	
	
	


</web-app>
